$color-amber-warning: rgb(255, 241, 67);
$color-green: rgb(216, 217, 34);
$color-charcoal: rgb(51, 51, 51);
$color-green-success: rgb(157, 240, 125);
$color-green-lighter: rgb(248, 250, 204);
$color-white: rgb(255, 255, 255);
$color-pink-darker: rgb(162, 22, 85);
$color-pink: rgb(207, 28, 109);
$color-grey-light: rgb(229, 229, 229);
$color-pink-lighter: rgb(250, 210, 228);
$color-blue: rgb(112, 194, 204);
$color-purple: rgb(127, 131, 189);
$color-rich-black: rgb(0, 0, 0);
$color-blue-lighter: rgb(227, 243, 245);
$color-grey-dark: rgb(100, 104, 109);
$color-grey: rgb(175, 175, 175);
$color-purple-lighter: rgb(236, 237, 248);
$color-red-error: rgb(229, 38, 38);
$color-grey-lighter: rgb(247, 247, 247);
$size-xs-mobile: 12px;
$size-s-mobile: 14px;
$size-xxl: 32px;
$size-xxxxl: 50px;
$size-l: 20px;
$size-xl-mobile: 20px;
$size-xxxl-mobile: 25px;
$size-m: 18px;
$size-m-mobile: 16px;
$size-xxxl: 40px;
$size-xl: 25px;
$size-xxxxl-mobile: 30px;
$size-xxl-mobile: 22px;
$size-l-mobile: 18.5px;
$size-s: 16px;
$size-xs: 12px;
$font-heading: 'Source Sans Pro', 'source-sans-pro', sans-serif;
$font-text: 'Source Sans Pro', 'source-sans-pro', sans-serif;
$font-primary: 'fs-me', Helvetica, Arial, sans-serif;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-normal: 400;
$weight-light: 300;
$opacity-disabled: 0.5;
$height-footer: 64px;
$tappable-square: 44px;
$text-max-width: 700px;
$outline-offset: 0px;
$duration-quickly: 0.08s;
$duration-slowly: 0.5s;
$animation-modal: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s, opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
$animation-show: opacity .3s ease-out;
$animation-hide: opacity .5s;
$z-index-modal: 9999;
$z-index-sticky: 100;
$media-query-s: (
  max-width: 767px
);
$media-query-m: (
  min-width: 768px
);
$media-query-l: (
  min-width: 1024px
);
$media-query-value-s: 767px;
$media-query-value-m: 768px;
$media-query-value-l: 1024px;
$shadow-s: 0px 0px 3px 1px rgba(0, 0, 0, 0.16);
$shadow-m: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
$shadow-table: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
$shadow-modal-left: 0 4px 12px rgba(0, 0, 0, 0.16);
$shadow-button-selected: inset 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
$spacing-xl: 2px;
$spacing-l: 1px;
$spacing-m: 0;
$spacing-s: -0.5px;
$spacing-xs: -1px;
$radius-default: 15px;
$radius-primary-schools: 30px;
$radius-circle: 50%;
$space-s-mobile: 10px;
$space-xxs-mobile: 3px;
$space-xl: 50px;
$space-xs-mobile: 6px;
$space-m-mobile: 20px;
$space-l-mobile: 30px;
$space-xxl-mobile: 70px;
$space-xxl: 128px;
$space-l: 40px;
$space-xl-mobile: 40px;
$space-xs: 10px;
$space-m: 27px;
$space-xxs: 4px;
$space-s: 16px;
$line-height-m: 1.6;
$line-height-s: 1.3;
$line-height-xs: 1;